<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="Generator" content="EditPlus®">
    <title>千应救助</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="font-family-ms-yahei">

    {{{body}}}


</body>

</html>