<link href="/skin/css/jquery.fullpage.css" rel="stylesheet" />
<link href="/skin/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/skin/css/jquery.multiscroll.css" rel="stylesheet" />
<link href="/skin/css/slider.style.css" rel="stylesheet" />
<div class="dowebok-hd">
    <div class="inner">
        <h1><a href="/">千应救助</a></h1>
        <ul class="nav">
            <li><a href="/" class="nav-current">首页</a></li>
            <li><a href="/about">关于我们</a></li>
            <li><a href="/a/product/">产品介绍</a></li>
            <li><a href="/a/news/">新闻动态</a></li>
            <li><a href="/a/join/">加入我们</a></li>
        </ul>
    </div>
</div>
<div id="dowebok">
    <div class="section section1">
        <figure class="overlay-figure">
            <div class="overlay-figure-content"> <img src="/skin/images/banner1_01.jpg" >
                <div class="overlay-figure-background"></div>
            </div>
            <figcaption class="overlay-figure-caption">
                <div class="contents">
                    <div class="contents-stack">
                        <div class="text"><img src= "/skin/images/banner_text.png"/></div>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="section section2">
        <div class="slide">
            <div class="section2-content">
                <div class="section2-content-left">
                    <div class="section2-content-left-content1"></div>
                </div>
                <div class="section2-content-right">
                    <p class="section2-content-right-p1">在中国，</p>
                    <p class="section2-content-right-p2">有一群人</p>
                    <p class="section2-content-right-p3">他们衣着简单、朴实厚道，<br/>
                        带着父母妻儿的期盼；<br/>
                        离开家乡，辗转于不同的建筑工地。</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="section2-content">
                <div class="section2-content-left">
                    <div class="section2-content-left-content2"></div>
                </div>
                <div class="section2-content-right">
                    <p class="section2-content-right-p1">梦想之城的筋骨，<br/>
                        在他们辛勤的双手中，</p>
                    <p class="section2-content-right-p2">拔地而起。</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="section2-content">
                <div class="section2-content-left">
                    <div class="section2-content-left-content3"></div>
                </div>
                <div class="section2-content-right">
                    <p class="section2-content-right-p1">一块砖一片瓦，一滴汗一份牵挂。<br/>
                        可诈骗、欠薪、信息缺乏<br/>
                        让他们的找工之路</p>
                    <p class="section2-content-right-p2">充满艰辛。 </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="section2-content">
                <div class="section2-content-left">
                    <div class="section2-content-left-content4"></div>
                </div>
                <div class="section2-content-right">
                    <p class="section2-content-right-p1">一年辛苦，<br/>
                        只盼望顺利接几个工作，<br/>
                        好多赚点钱寄给家里。</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="section2-content">
                <div class="section2-content-left">
                    <div class="section2-content-left-content5"></div>
                </div>
                <div class="section2-content-right">
                    <p class="section2-content-right-p1">城市那么繁华，却似乎与自己无关。<br/>
                        工地那么喧嚣，但仍喜欢</p>
                    <p class="section2-content-right-p2">疲惫的独处。 </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="section2-content">
                <div class="section2-content-left">
                    <div class="section2-content-left-content6"></div>
                </div>
                <div class="section2-content-right">
                    <p class="section2-content-right-p1">他们中也有许多优秀人才，<br/>
                        有很多人通过奋斗</p>
                    <p class="section2-content-right-p2">实现了梦想。</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="section2-content">
                <div class="section2-content-left">
                    <div class="section2-content-left-content7"></div>
                </div>
                <div class="section2-content-right">
                    <p class="section2-content-right-p1">工人帮深信：<br/>
                        每一位建筑行业从业者的梦想都值得被尊重，<br/>
                        我们的每一次努力都可能成就您的梦想。</p>
                    <p class="section2-content-right-p2">让我们，在一起。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section3">
        <div class="section3-content">
            <div class="section3-content-left">
                <p class="section3-content-left-text1">改变，</p>
                <p class="section3-content-left-text1">从<span class="section3-content-left-bg"></span>开始。</p>
                <p class="section3-content-left-text2"><font color="#dfdfdf">我们</font>致力于服务整个行业，<br/>
                    联动政府、企业和社会组织资源，搭建了国内<br/>
                    最大的建筑行业综合服务平台——工人帮。<br/>
                    为建筑行业招工难、找工难等现实问题提供了一体化解决方案，<br/>
                    实现高效便捷的资源共享，推动整个行业规范化进程。</p>
                <a href="/a/about/">
                    <p class="section3-content-left-text3">了解更多→</p>
                </a> </div>
            <div class="section3-content-right">
                <div class="section3-content-right-content">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="img"><img src="/skin/images/11.jpg" style="height:100%;width:100%" /></div>
                            </li>
                            <li>
                                <div class="img"><img src="/skin/images/22.jpg" style="height:100%;width:100%"/></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section4">
        <div class="section4-content">
            <div class="section4-content-left">
                <div class="section4-content-left-img"> <img src="/skin/images/phone.png"/> </div>
            </div>
            <div class="section4-content-right">
                <div class="section4-content-right-content"> <img src="/skin/images/app.png"/>
                    <p class="section4-content-right-content-p1">工人帮APP</p>
                    <p class="section4-content-right-content-p2">身边的工友们都在用的APP！<br/>
                        最懂建筑行业的手机软件，最关心工人的服务平台，<br/>
                        提供招工找工、培训认证、工程管理、生活娱乐<br/>
                        等智能一体化服务。</p>
                    <a href="/a/product/">
                        <p class="section4-content-right-content-p3">了解更多→</p>
                    </a>
                    <div class="section4-content-right-content-down" id="app-down"></div>
                </div>
            </div>
            <div class="content-hidden" id="newwin"> </div>
            <div class="content-hidden-c" id="newwin-c"> <span id="closewin" class="content-hidden-c-span"></span>
                <p class="content-hidden-c-p1">工人帮APP，中国最大建筑业综合服务平台。每天发布</p>
                <p class="content-hidden-c-p2">100+招聘信息和培训信息，更有海量影视小说供你轻松浏览。</p>
                <p class="content-hidden-c-p3">手机扫描二维码下载，或者选择合适你手机的系统下载</p>
                <div class="content-hidden-c-code">
                    <div style="float:left;"> <img src="/skin/images/code.png"/> </div>
                    <div style="float:right;"> <a href="#" class="content-hidden-c-android"></a><br/>
                        <a href="#" target="_blank" class="content-hidden-c-ios"></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section5">
        <div class="section5-content">
            <p class="section5-content-p">联系我们</p>
            <div class="section5-content-main">
                <div class="section5-content-main-left">
                    <p class="section5-content-main-left-p1">您好！</p>
                    <p class="section5-content-main-left-p2">感谢您关注海南科技有限公司。<br/>
                        如果您有任何建议或合作意向，<br/>
                        欢迎用以下方式联系我们，<br/>
                        我们将尽快回复您。</p>
                    <div class="section5-content-main-left-p3"> <img src="/skin/images/call.png"/> <span class="phone_num"></span> </div>
                    <p class="section5-content-main-left-p4">地址：</p>
                    <div class="section5-content-main-left-p5"> <img src="/skin/images/weixin.png"/>
                        <p class="section5-content-main-left-p6">关注微信号</p>
                    </div>
                </div>
                <div class="section5-content-main-right">
                    <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="action" value="post" />
                        <input type="hidden" name="diyid" value="1" />
                        <input type="hidden" name="do" value="2" />
                        <div class="floating-placeholder">
                            <input id="name" name="name" type="text" placeholder="姓名" required/>
                        </div>
                        <div class="floating-placeholder floating-margin">
                            <input id="email" name="email" type="text" required onblur="checkTelephone(this)" placeholder="邮箱"/>
                        </div>
                        <div class="floating-placeholder textarea1 floating-margin">
                            <textarea id="content" name="content" type="text" required onblur="IsValid(this);" onkeyup="checkLen(this)" placeholder="内容"></textarea>
                            <input type="hidden" name="dede_fields" value="name,text;email,text;content,text" />
                            <input type="hidden" name="dede_fieldshash" value="63168068df95d5a72225c6a2175ac25d" />
                        </div>
                        <button type="submit" class="section5-content-main-right-send"></button>
                        <div style="clear:both"></div>
                        <div style="text-align:right;margin-top:-75px;color:#b0b0b0">您还可以输入 <span id="count" style="color:red">300</span> 个文字</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="section5-content-foot">
            <p>Copyright &copy; 2004-2011 DEDECMS. 织梦科技 版权所有<br/>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/skin/js/jquery-1.8.2.js"></script>
<script src="/skin/js/jquery.easing.min.js"></script>
<script src="/skin/js/jquery.fullpage.min.js"></script>
<script src="/skin/js/overlay-figure.js"></script>
<script src="/skin/js/slider.js"></script>
<script src="/skin/js/scroll.js"></script>
<script>
    $(function(){
        $('#dowebok').fullpage({
            navigation: true
        });
        $('.flexslider').flexslider({
            animation: "slide",
            direction:"horizontal",
            easing:"swing"
        });

        $('#app-down').click(function(){
            $('#newwin').show();
            $('#newwin-c').show();
        });
        $('#closewin').click(function(){
            $('#newwin').hide();
            $('#newwin-c').hide();
        });


    });
</script>
